* {
	box-sizing: border-box;
	transition: all 0.15s linear;
}

:root {
	font-size: 18px;
	--accent-color1: #583EFF;
	--accent-color2: #898EA4;
}

@media only screen and (max-width: 800px) {
	:root {
		font-size: 14px;
	}
	main#MainContainer {
		padding: 0.5rem;
	}
}

::-moz-selection {
	color: #FFF;
	background: var(--accent-color1);
}
  
::selection {
	color: #FFF;
	background: var(--accent-color1);
}

/* https://stackoverflow.com/a/24979148/14516016 - Yeah, CSS Sucks Ass */
body { display: flex; flex-flow: column; }
body, html { height: 100%; width: 100%; }
header { flex: 0 1 auto; }
main#MainContainer { flex: 1 1 auto; width: 100% /* Ensure max-width is respected always */; }
footer { flex: 0 1 40px; }

a {
	color: var(--accent-color1);
}

hr {
	margin: 0.5rem auto;
	outline: none;
	border: 1px solid #000;
}

main#MainContainer {
	margin: 0 auto;
	min-width: 1px;
	max-width: 45rem;
}

header, footer {
	text-align: center;
	padding: 0.5rem 0;
	line-height: 1;
	user-select: none;
}

header {
	border-bottom: 1px solid var(--accent-color2);
}

footer {
	margin-top: 0.3rem;
	border-top: 1px solid var(--accent-color2);
}

header nav a:not(:last-of-type), footer nav a:not(:last-of-type) {
	border-right: 1px solid #000;
	padding-right: 0.5rem;
}

header nav a:not(:first-of-type), footer nav a:not(:first-of-type) {
	padding-left: 0.5rem;
}

pre, code {
	overflow: auto;
}

pre {
	background: #E8E8E8 !important;
	padding: 0.7rem 0;
}

pre code {
	padding: 0 0.7rem;
}

code:not(pre code) {
	color: #FFF;
	background: var(--accent-color2);
	padding: 0.15rem 0.2rem;
}

img {
	max-width: 100%;
	user-select: none;
}

ul, ol {
	margin: 0.2rem 0;
}

li {
	margin-bottom: 0.5rem;
}
