<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="/assets/favicon.png" />
	<title>{{ page.title }}</title>
	<link rel="stylesheet" type="text/css" href="/assets/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/simple.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/post.css">
	<script src="/assets/js/scale.fix.js"></script>
</head>
<body>

{%- if page.layout == "home" -%}
	{{content}}
{%- else -%}
	<div class="MainContainer">
		{{content}}
	</div>
{%- endif -%}
<footer>
	<nav>
		<a style="display: inline-block; text-align: justify;" href="/">Home</a> |
		<a style="display: inline-block; text-align: justify;" href="/blog/">Blog</a> |
		<a style="display: inline-block; text-align: justify;" href="/wiki/">Wiki</a> |
		<a style="display: inline-block; text-align: justify;" href="https://github.com/pegvin/csprite">GitHub</a>
	</nav>
</footer>

</body>
</html>
